#wrapper {
margin: 10 auto;

}

body {
	background-image: url("../images/bitbaseball.png");
	background-size: 1000px;
	text-align: center;
	color: #000;
}

.jumbotron {
	background: rgba(186, 201, 167, 0.4);	
}


img {
width: 40%;
margin: 10px;
}

button {
	margin: 5px;
	padding: 3px;
}